footer 
    .wrapper 
        .footer
            .footer_block
                h3 Клиентам:
                li 
                    a(href="") Как оформить заказ
                li 
                    a(href="") Доставка товара
                li 
                    a(href="") Оплата товара
                li 
                    a(href="") Получение товара 
                li 
                    a(href="") Возврат товара
                li 
                    a(href="") Помощь покупателям
                li 
                    a(href="") Подарочная карта
            .footer_block
                h3 Контакты
                    li Телефон: +7 860 454 34 6
                    li Москва, ул. Советская, д. 5, кв. 32
                a(href="") 
                    img(src="img/socials.png" alt="soc")                
