header
    nav.main-menu
        li(id="logo") 
            img(src="img/logo.png", alt="logo")
        li(id="buttons") 
            a(href="aboutus.html") О фирме
        li(id="buttons")  
            a(href="index.html") Главная страница
        li(id="buttons")  
            a(href="order.html") Оформить заказ
        li(id="cart")  
            a(htref="")
                img(src="img/cart.png", alt="basket")
                p Корзина
        li(id="login") 
            a(htref="")
                img(src="img/login.png", alt="log in")
                p Войти