header
    nav.main-menu
        li 
            img(src="", alt="logo")
        li 
            a(href="about.html") О фирме
        li 
            a(href="index.html") Главная страница
        li 
            a(href="order.html") Оформить заказ
        li 
            img(src="", alt="basket")
        li 
            img(src="", alt="log in")